@model website.ViewModels.AdminDoctorNewViewModel
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewBag.Title = "Thêm bác sĩ";
}
<!-- Các mục điều hướng -->
<div class="row topnav">
    <a class="active" asp-controller="Admin" asp-action="Doctors">Bác sĩ</a>
    <a asp-controller="Admin" asp-action="Pharas">Dược sĩ</a>
    <a asp-controller="Admin" asp-action="Admins">Quản trị</a>
</div>

<!-- Nút quay về -->
<div class="row">
    <a asp-controller="Admin" asp-action="Doctors" class="button button--back"><i class="fas fa-long-arrow-alt-left"></i></a><h2 class="title"> Thêm bác sĩ mới</h2>
</div>

<div class="row">
    <form asp-controller="Admin" asp-action="DoctorNew" method="post">
        <div class="row">
            <div class="col form-group">
                <label asp-for="@Model.Doctor.NameLast">Họ</label>
                <input type="text" asp-for="@Model.Doctor.NameLast" class="form-control"/>
                <span asp-validation-for="@Model.Doctor.NameLast" class="text-danger"></span>
            </div>
            <div class="col form-group">
                <label asp-for="@Model.Doctor.NameMiddle">Họ đệm</label>
                <input type="text" asp-for="@Model.Doctor.NameMiddle" class="form-control"/>
                <span asp-validation-for="@Model.Doctor.NameMiddle" class="text-danger"></span>
            </div>
            <div class="col form-group">
                <label asp-for="@Model.Doctor.NameFirst">Tên</label>
                <input type="text" asp-for="@Model.Doctor.NameFirst" class="form-control"/>
                <span asp-validation-for="@Model.Doctor.NameFirst" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="@Model.Doctor.PhoneNumber">Số điện thoại</label>
            <input type="text" asp-for="@Model.Doctor.PhoneNumber" class="form-control"/>
            <span asp-validation-for="@Model.Doctor.PhoneNumber" class="text-danger"></span>
        </div>
    
    
        <div class="form-group">
            <label asp-for="@Model.Doctor.Email">Email</label>
            <input type="text" asp-for="@Model.Doctor.Email" class="form-control"/>
            <span asp-validation-for="@Model.Doctor.Email" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="@Model.Doctor.Faculty_Id">Khoa</label>
            <select asp-for="@Model.Doctor.Faculty_Id" class="form-control">
                @{
                    foreach (var f in Model.Faculties)
                    {
                        <option value="@f.Id">
                            @f.Name
                        </option>
                    }
                }
            </select>
        </div>

        <div class="row">
            <div class="col form-group">
                <label asp-for="@Model.Doctor.Username">Tên tài khoản đăng nhập</label>
                <input type="text" asp-for="@Model.Doctor.Username" class="form-control"/>
                <span asp-validation-for="@Model.Doctor.Username" class="text-danger"></span>
            </div>
            <div class="col form-group">
                <label asp-for="@Model.Doctor.Password">Mật khẩu</label>
                <input type="text" asp-for="@Model.Doctor.Password" class="form-control"/>
                <span asp-validation-for="@Model.Doctor.Password" class="text-danger"></span>
            </div>
        </div>
        
        <button type="submit" class="button button--submit">Hoàn tất</button>
    </form>
</div>