@model website.Models.Medicine

@{
    ViewData["Title"] = "Detail";
    //Layout = "~/Views/Victim/_VictimLayout.cshtml";
}

    <h1>Chi Tiết</h1>

<div style="background-color: aqua">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin_Id)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Admin
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineUnit_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineUnit_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModify)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
