@model IEnumerable<website.Models.Medicine>

@{
    ViewData["Title"] = "Index";
}

    <h1>Danh Sách Thuốc</h1>

<p>
    <a asp-action="Create" class="btn_create">Thêm Thuốc</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Admin_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineUnit_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModify)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Admin_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineUnit_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModify)
            </td>
            <td>
                @{if (ViewBag.ispopup == false)
                    {
                        <a asp-action="Create" asp-route-id="@item.Id">Edit</a> @Html.Raw("|")
                        <a onclick="return confirm('Bạn thực sự muốn xoá?')" asp-action="Delete" asp-route-id="@item.Id">Delete</a> @Html.Raw("|")
                    }
                }
                <a asp-action="Detail" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
