@model website.ViewModels.VictimRegistrationViewModel
@{
    ViewData["Title"] = "Đăng ký khám chữa bệnh";
    Layout = "~/Views/Victim/_VictimLayout.cshtml";
}
@{
    string name = Model.Insurance.NameFirst;
    string gender = Model.Insurance.Gender;
    int age = DateTime.Today.Year - Model.Insurance.DateBirth.Year;
    string pronom = "";
    
    if (age < 16){ pronom = "bé";}
    else if (age >= 16 && age <= 18){ pronom = "bạn";}
    else if (age >= 18 && age <= 35)
    {
        if (gender == "female"){ pronom = "chị";}
        else { pronom = "anh";}
    }
    else if (age > 35 && age <= 60)
    {
        if (gender == "female"){ pronom = "cô";}
        else { pronom = "chú";}
    }
    else { pronom = "bác";}
    string greeting = "Xin chào " + pronom + " " + name + ", mời " + pronom + " chọn khoa để đăng ký khám chữa bệnh";
}

<div class="container-fluid relative registration">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a asp-controller="Victim" asp-action="Login" class="button button--back"><i class="fas fa-long-arrow-alt-left"></i> Quay lại</a>
            </div>
            <div class="col-9">
                <h2>Đăng ký khám chữa bệnh theo khoa</h2>
                <h4>@greeting</h4>
            </div>
        </div>
        
        @{int col = 1;}
        @foreach (var f in Model.Faculties)
        {
            @if (col == 1)
            {
                @:<div class="row">
                    @:<div class="col-3">
                        <a class="faculties" asp-controller="Victim" asp-action="Doctors" asp-route-insuranceId="@Model.Insurance.Id" asp-route-facultyId="@f.Id">@f.Name</a>
                    @:</div>
                col++;
            }

            @if (col == 4)
            {
                @:<div class="col-3">
                    <a class="faculties" asp-controller="Victim" asp-action="Doctors" asp-route-insuranceId="@Model.Insurance.Id" asp-route-facultyId="@f.Id">@f.Name</a>
                @:</div>
                @:</div>
                col = 1;
            }
            
            @if (col != 4 && col != 1)
            {
                @:<div class="col-3">
                        <a class="faculties" asp-controller="Victim" asp-action="Doctors" asp-route-insuranceId="@Model.Insurance.Id" asp-route-facultyId="@f.Id">@f.Name</a>
                    @:</div>
               col++;
            }

        }
        
    </div>
</div>
